/* Colors */
:root {
    --clr-reaction: hsl(0, 100%, 67%);
    --clr-memory: hsl(39, 100%, 56%);
    --clr-verbal: hsl(166, 100%, 37%);
    --clr-visual: hsl(234, 85%, 45%);

    --clr-main-bg1: hsl(252, 100%, 67%);
    --clr-main-bg2: hsl(241, 81%, 54%);

    --clr-circle-bg1: hsla(256, 72%, 46%, 1);
    --clr-circle-bg2: hsla(241, 72%, 46%, 0);

    --clr-white: hsl(0, 0%, 100%);
    --clr-pale-blue: hsl(221, 100%, 96%);
    --clr-lavender: hsl(241, 100%, 89%);
    --clr-dark-lavender: hsl(245, 100%, 75%);
    --clr-dark-grey-blue: hsl(224, 30%, 27%);

    --ff-primary: 'Hanken Grotesk', sans-serif;
    --ff-body: var(--ff-primary);
    --fw-regular: 500;
    --fw-semi-bold: 700;
    --fw-bold: 800;
    --fs-paragraph: 1.125rem;
}

body {
    font-family: var(--ff-body);
    font-size: var(--fs-paragraph);
    margin: 0;
}

.container {
    width:353px;
    padding: 0;
    display: flex;
    flex-flow: row wrap; 
}

.result-section {
    background-image: linear-gradient(var(--clr-main-bg1), var(--clr-main-bg2));
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
    min-height: 300px;
    padding: 15px 65px;
    display: flex;
    flex-flow: row wrap;
}

.result-columns {
    flex-basis: 100%;
    text-align: center;
}

.your-result  {
    color: var(--clr-lavender);
    font-size: var(--fs-paragraph);
}

.circle {
    background-image: linear-gradient(var(--clr-circle-bg1), var(--clr-circle-bg2));
    border-radius: 50%;
    margin: 10px 15%;
}

.total-score {
    color: var(--clr-white);
    font-size: 4rem;
    font-weight: var(--fw-bold);
    margin-top: 30px;
    margin-bottom: 0;
}

.total-possible {
    color: var(--clr-dark-lavender);
    margin-top: 0px;
    margin-bottom: 30px;
}

.evaluation {
    color: var(--clr-white);
    font-size: 1.625rem;
    margin: 10px;
}

.comparison {
    color: var(--clr-lavender);
    font-size: .875rem;
}
/* ------------ */
.summary-section {
    padding: 15px 35px;
    font-size: var(--fs-paragraph);
    display: flex;
    flex-flow: row wrap;
}

.summary {
    color: black;
    font-size: var(--fs-paragraph);
}

.reaction {
    flex-basis: 100%;
    color: var(--clr-reaction);
    background-color: hsla(0, 100%, 67%, 0.07);
    height: 45px;
    border-radius: 10px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.memory {
    flex-basis: 100%;
    color: var(--clr-memory);
    background-color: hsla(39, 100%, 56%, 0.07);
    height: 45px;
    border-radius: 10px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.verbal {
    flex-basis: 100%;
    color: var(--clr-verbal);
    background-color: hsla(166, 100%, 37%, 0.07);
    height: 45px;
    border-radius: 10px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.visual {
    flex-basis: 100%;
    color: var(--clr-visual);
    background-color: hsla(234, 85%, 45%, 0.07);
    height: 45px;
    border-radius: 10px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.continue {
    flex-basis: 100%;
    background-color: var(--clr-dark-grey-blue);
    color: var(--clr-white);
    width: 100%;
    border: 1px;
    padding: 10px;
    border-radius: 25%;
    margin-block-start: 8px;
    margin-block-end: 8px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}