/* "A Modern CSS Reset" by Andy Bell
 https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html, body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img, picture, svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.125rem;
    margin: 0;
}

.container {
    width:375px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-flow: row wrap; 
}

.shadow {
    display: flex;
    flex-flow: row wrap; 
}

.result-section {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-end-start-radius: 30px;
    border-end-end-radius: 30px;
    min-height: 480px;
    padding: 15px 65px;
    display: flex;
    flex-flow: row wrap;
}

.result-columns {
    flex-basis: 100%;
    text-align: center;
}

.your-result  {
    color: hsl(241, 100%, 89%);
    font-size: 1.125rem;
}

.circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    margin: 10px 12%;
}

.total-score {
    color: hsl(0, 0%, 100%);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-bottom: 0;
}

.total-possible {
    color: hsl(245, 100%, 75%);
    margin-top: 0px;
    margin-bottom: 30px;
}

.evaluation {
    color: hsl(0, 0%, 100%);
    font-size: 1.625rem;
    margin: 10px;
}

.comparison {
    color: hsl(241, 100%, 89%);
    font-size: .9rem;
}
/* ------------ */
.summary-section {
    font-size: 1rem;
    padding: 15px 35px;
    display: flex;
    flex-flow: row wrap;
}

.summary {
    color: black;
    font-size: 1.125rem;
}

.card {
    flex-basis: 100%;
    height: 45px;
    border-radius: 10px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    display:grid;
    gap: 4px;
    grid-template-areas: 
    "A B C C   C C C C   C C C D";
    justify-items: end;
    align-items: center;
}

.icon {
    grid-area: A;
}

.mode {
    grid-area: B;
}

.score {
    color: black;
    font-weight: 800;  
    grid-area: C;
}

.grey {
    color: #a5a5a5;
}

.reaction {
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.07);
}

.memory {
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.07);
}

.verbal {
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.07);
}

.visual {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.07);
}

/* button styling initially from https://getcssscan.com/css-buttons-examples */
.continue {
    flex-basis: 100%;
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 1.125rem;
    width: 100%;
    border: 1px;
    border-radius: 25px;
    margin-block-start: 8px;
    margin-block-end: 8px;
    margin-top: 16px;
    cursor: pointer;  
    align-items: center;
    min-height: 52px;
    overflow: hidden;
    padding: 0px;
    touch-action: manipulation;
    vertical-align: middle;
}

.continue:hover, .continue:focus {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (min-width: 650px) {
    .container {
        height: 100dvh;
        width: 650px;
        padding: 0; 
        align-items: center;
    }

    .result-section {
        flex-basis:50%;
        width:370px;
        padding: 15px 35px;
        border-start-start-radius: 30px;
        border-start-end-radius: 30px;
    }

    .summary-section {
        flex-basis:50%;
        width:370px;

    }

    .your-result {
        font-size: 1.5rem;
    }

    .total-score {
        font-size: 4.5rem;
    }

    .evaluation {
        font-size: 1.9375rem;
        margin-top: 20px;
        margin-bottom: 0;
    }
    
    .comparison {
        color: hsl(241, 100%, 89%);
        font-size: 1.125rem;
    }

    .summary-section {
        font-size: 1.125rem;
    }
    .summary {
        font-size: 1.675rem;
    }

    .card {
        height: 55px;
    }

    .shadow {
        border-start-start-radius: 30px;
        border-start-end-radius: 30px;
        border-end-start-radius: 30px;
        border-end-end-radius: 30px;
        box-shadow: 15px 25px 20px  hsl(220, 79%, 96%);
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}